# ─────────────────────────────────────────────
# 🔹 Зависимости
# ─────────────────────────────────────────────
node_modules/

# ─────────────────────────────────────────────
# 🔹 Сборка (TypeScript -> JS)
# ────────────────────────────────────────────
dist/

# ─────────────────────────────────────────────
#  Логи и Окружение
# ─────────────────────────────────────────────
# Логи приложения
logs/
*.log
npm-debug.log*

# Переменные окружения (если добавите .env позже)
.env
.env.local

# ─────────────────────────────────────────────
#  OS
# ─────────────────────────────────────────────
.DS_Store
Thumbs.db
